[submodule "bicycle_go_order_service"]
	path = bicycle_go_order_service
	url = git@github.com:KhalimovMukhammadjon/bicycle_go_order_service.git
[submodule "bicycle-protos"]
	path = bicycle-protos
	url = git@github.com:KhalimovMukhammadjon/bicycle-protos.git
